:root {
  --color-primary: #64568f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  font-family: 'Rubik', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
}

.customContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 3rem;
}

/* adaptive styling */

@media only screen and (max-width: 450px) {
  .customContainer {
    padding: 1rem 1rem;
  }
}
